body{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background-color: black;
}

.container{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  overflow: hidden;
}

 .loader{
  background-image: url(background.gif);
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 998;
  -ms-transition: all 3.5s linear;
  -moz-transition: all 3.5s linear;
  -webkit-transition: all 3.5s linear;
  transition: all 3.5s linear;
}

.container.loading > .loader{
  opacity: 1;
}

.player{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0%;
  z-index: 1;
  overflow: hidden;
  -ms-transition: all 3.5s linear;
  -moz-transition: all 3.5s linear;
  -webkit-transition: all 3.5s linear;
  transition: all 3.5s linear;
}

iframe.player{
  display: block;
  position: absolute;
  width: 200%;
  height: 125%;
  margin: 0;
  padding: 0;
  top: -10%;
  left: -50%;
  z-index: 1;
  overflow: hidden;
  -ms-transition: all 3.5s linear;
  -moz-transition: all 3.5s linear;
  -webkit-transition: all 3.5s linear;
  transition: all 3.5s linear;
}

.player > img{
  width: 100%;
  height: auto;
  position: relative;
  top: 50%;
  -ms-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
}

.player.playing{
  opacity: 1;
}

.player.loading{
  opacity: 0;
}

.screen{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 999;
}

.soundcloud{
  position: absolute;
  margin: 2em;
  left: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  transition: opacity 1s;
}


.link-box{
  width: auto;
  height: auto;
  padding: 2em;
  font-weight: 300;
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
  right: 0;
  bottom: 0;
  position: absolute;
}

.link-box.left{
  left: 0;
}

.link-box > a{
  color: white;
  line-height: 50px;
  vertical-align: middle;
  text-decoration: none;
}

.link-box > a:hover{
  color: white;
}

.link-box > a > img{
  position: relative;
  display: inline-block;
  height: 1.5em;
  vertical-align: baseline;
  top: 4px;
}

@media screen and (max-width: 768px){
  .soundcloud{
    bottom: -350px;
    margin: 0 0 0 -140px;
    left: 50%;
    opacity: 1;
  }
  .screen{
    overflow: visible;
  }
  body{
    overflow: scroll;
  }
  .container{
    height: auto;
    position: relative;
    height: 100%;
    overflow: visible;
  }

  .link-box{
    box-sizing: border-box;
    text-align: center;
    width: 100%;
  }

  .link-box.left{
    bottom: -1.5em;
    text-align: center;
  }
}
